.filepond--root {
    font-family: poppins;
}

.filepond--item-panel {
   
    background-color: white;
}

.filepond--panel-root {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.filepond--item{

}

.filepond--file{
    color: black;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    
}